/src/node_modules
/src/public/hot
/src/public/storage
/storage/*.key
/vendor
.env
.env.backup
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
